/* Prevent drag, I think it works...
https://gist.github.com/msuchodolski/41c9338f3a732379dc570142826ed76e */
[data-dragging-within] *,
[data-dragging-within] *::after,
[data-dragging-within] *::before {
    -webkit-user-select: none;
    -webkit-user-drag: none;
    -webkit-app-region: no-drag;
    user-select: none;
    /* user-drag: none;
    app-region: no-drag; */
}

[data-resizable]:not([data-resizable-draggable="false"]) {
    position: absolute;
    cursor: move; /* Apply move cursor only if draggable */
}

[data-handle] {
    position: absolute;
    z-index: 1; /* Ensure handles are above parent border */
}

[data-dragging-within] {
    cursor: grabbing;
}

[data-dragging] {
    z-index: 1;
}

[data-handle*="top"] {
    top: 0;
}
:where([data-handle*="top"]) {
    left: 50%;
    cursor: n-resize;
}

[data-handle*="left"] {
    left: 0;
}
:where([data-handle*="left"]) {
    top: 50%;
    cursor: w-resize
}

[data-handle*="bottom"] {
    top: 100%;
}
:where([data-handle*="bottom"]) {
    left: 50%;
    cursor: s-resize;
}

[data-handle*="right"] {
    left: 100%;
}
:where([data-handle*="right"]) {
    top: 50%;
    cursor: e-resize;
}

[data-handle*="top"][data-handle*="left"] {
    cursor: nw-resize;
}

[data-handle*="top"][data-handle*="right"] {
    cursor: ne-resize;
}

[data-handle*="bottom"][data-handle*="right"] {
    cursor: se-resize;
}

[data-handle*="bottom"][data-handle*="left"] {
    cursor: sw-resize;
}

/* Wireframe styles */
.wireframe-layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; /* Adjust as needed if parent isn't the intended boundary */
    height: 100%; /* Adjust as needed */
    pointer-events: none; /* Layer doesn't capture events */
    z-index: 10; /* Ensure layer is above content but potentially below other UI */
}

.wireframe-layer-item {
    position: absolute; /* Positioned within the layer */
    pointer-events: auto; /* Items *do* capture events */
    /* Outline/background can be added for debugging if needed */
    /* outline: 1px dashed red; */
}
